.App {
  text-align: center;
  background-color: #0b1c2f;
}

.App-header {
  background-color: #282c34;
  min-height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  width: 100%;
  display: flex;
}

.name {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #47bec7;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* .welcome {
  padding: 0.25rem;
  margin-top: 1rem;
  border-left: 1px solid #777;
  width: 30%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.welcome {
  margin-bottom: 40px;
  font-family: Inter, sans-serif;
  color: #848d96;
  font-size: 18px;
  line-height: 140%;
}

.welcome p {
  padding: 0.5rem;
  max-width: 30rem;
  font-family: Lora, sans-serif;
}

.welcome a {
  padding: 0.5rem;
}

.tagline {
  margin-bottom: 40px;
  color: #ddd;
  font-size: 58px;
  font-weight: 600;
  line-height: 100%;
}

.sorry {
  text-align: left;
  color: #ddd;
}

.recorder {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recorder-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.recorder-controls button {
  margin: 0.5rem;
  padding: 0.5rem;
  min-width: 5rem;
  background-color: rgb(206, 215, 228);
  border: none;
  border-radius: 0.2rem;
  color: #0b1c2f;
  font-weight: bold;
}

.mic-on-indicator {
  height: 1rem;
  width: 1rem;
  background-color: gray;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.words {
  width: 100%;
  max-width: 50rem;
}

.paper {
  margin: 2rem;
  margin-top: 0rem;
  padding: 2rem;
  background-color: #f7f06d;
  border-radius: 1rem;
  box-shadow: 0px 3px 8px darkgray;
}

.paper-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.line {
  border-bottom: 1px solid #777;
  padding: 0.25rem;
  padding-top: 0.5rem;
  min-height: 1rem;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .content {
    flex-direction: column-reverse;
  }

  .welcome {
    margin: 0 1rem;
    border-left: none;
    border-bottom: 1px solid #777;
    width: auto;
  }

  .recorder {
    width: auto;
  }

  .recorder-controls button {
    margin: 0.25rem;
  }
}
